<div>
  <h2 id="page-heading" data-cy="DDbHeading">
    <span jhiTranslate="ihotelApp.dDb.home.title">D Dbs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.dDb.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-d-db"
        [routerLink]="['/d-db/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.dDb.home.createLabel"> Create a new D Db </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.dDb.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="dDbs?.length === 0">
    <span jhiTranslate="ihotelApp.dDb.home.notFound">No dDbs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dDbs && dDbs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="ihotelApp.dDb.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dbdate"><span jhiTranslate="ihotelApp.dDb.dbdate">Dbdate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dbbillno">
            <span jhiTranslate="ihotelApp.dDb.dbbillno">Dbbillno</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rdepot"><span jhiTranslate="ihotelApp.dDb.rdepot">Rdepot</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cdepot"><span jhiTranslate="ihotelApp.dDb.cdepot">Cdepot</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="jbr"><span jhiTranslate="ihotelApp.dDb.jbr">Jbr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remark"><span jhiTranslate="ihotelApp.dDb.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spbm"><span jhiTranslate="ihotelApp.dDb.spbm">Spbm</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spmc"><span jhiTranslate="ihotelApp.dDb.spmc">Spmc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="unit"><span jhiTranslate="ihotelApp.dDb.unit">Unit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price"><span jhiTranslate="ihotelApp.dDb.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sl"><span jhiTranslate="ihotelApp.dDb.sl">Sl</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="je"><span jhiTranslate="ihotelApp.dDb.je">Je</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="memo"><span jhiTranslate="ihotelApp.dDb.memo">Memo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="flag"><span jhiTranslate="ihotelApp.dDb.flag">Flag</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="kcid"><span jhiTranslate="ihotelApp.dDb.kcid">Kcid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="empn"><span jhiTranslate="ihotelApp.dDb.empn">Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lrdate"><span jhiTranslate="ihotelApp.dDb.lrdate">Lrdate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ckbillno">
            <span jhiTranslate="ihotelApp.dDb.ckbillno">Ckbillno</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="f1"><span jhiTranslate="ihotelApp.dDb.f1">F 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="f2"><span jhiTranslate="ihotelApp.dDb.f2">F 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="f1empn"><span jhiTranslate="ihotelApp.dDb.f1empn">F 1 Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="f2empn"><span jhiTranslate="ihotelApp.dDb.f2empn">F 2 Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="f1sj"><span jhiTranslate="ihotelApp.dDb.f1sj">F 1 Sj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="f2sj"><span jhiTranslate="ihotelApp.dDb.f2sj">F 2 Sj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dDb of dDbs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/d-db', dDb.id, 'view']">{{ dDb.id }}</a>
          </td>
          <td>{{ dDb.dbdate | formatMediumDatetime }}</td>
          <td>{{ dDb.dbbillno }}</td>
          <td>{{ dDb.rdepot }}</td>
          <td>{{ dDb.cdepot }}</td>
          <td>{{ dDb.jbr }}</td>
          <td>{{ dDb.remark }}</td>
          <td>{{ dDb.spbm }}</td>
          <td>{{ dDb.spmc }}</td>
          <td>{{ dDb.unit }}</td>
          <td>{{ dDb.price }}</td>
          <td>{{ dDb.sl }}</td>
          <td>{{ dDb.je }}</td>
          <td>{{ dDb.memo }}</td>
          <td>{{ dDb.flag }}</td>
          <td>{{ dDb.kcid }}</td>
          <td>{{ dDb.empn }}</td>
          <td>{{ dDb.lrdate | formatMediumDatetime }}</td>
          <td>{{ dDb.ckbillno }}</td>
          <td>{{ dDb.f1 }}</td>
          <td>{{ dDb.f2 }}</td>
          <td>{{ dDb.f1empn }}</td>
          <td>{{ dDb.f2empn }}</td>
          <td>{{ dDb.f1sj | formatMediumDatetime }}</td>
          <td>{{ dDb.f2sj | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/d-db', dDb.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/d-db', dDb.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dDb)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dDbs && dDbs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
