<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crinfo-heading" data-cy="CrinfoCreateUpdateHeading" jhiTranslate="ihotelApp.crinfo.home.createOrEditLabel">
        Create or edit a Crinfo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.operatetime" for="field_operatetime">Operatetime</label>
          <div class="d-flex">
            <input
              id="field_operatetime"
              data-cy="operatetime"
              type="datetime-local"
              class="form-control"
              name="operatetime"
              formControlName="operatetime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.oldrent" for="field_oldrent">Oldrent</label>
          <input type="number" class="form-control" name="oldrent" id="field_oldrent" data-cy="oldrent" formControlName="oldrent" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.newrent" for="field_newrent">Newrent</label>
          <input type="number" class="form-control" name="newrent" id="field_newrent" data-cy="newrent" formControlName="newrent" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.oldroomn" for="field_oldroomn">Oldroomn</label>
          <input type="text" class="form-control" name="oldroomn" id="field_oldroomn" data-cy="oldroomn" formControlName="oldroomn" />
          <div *ngIf="editForm.get('oldroomn')!.invalid && (editForm.get('oldroomn')!.dirty || editForm.get('oldroomn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('oldroomn')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.newroomn" for="field_newroomn">Newroomn</label>
          <input type="text" class="form-control" name="newroomn" id="field_newroomn" data-cy="newroomn" formControlName="newroomn" />
          <div *ngIf="editForm.get('newroomn')!.invalid && (editForm.get('newroomn')!.dirty || editForm.get('newroomn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('newroomn')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.account" for="field_account">Account</label>
          <input type="text" class="form-control" name="account" id="field_account" data-cy="account" formControlName="account" />
          <div *ngIf="editForm.get('account')!.invalid && (editForm.get('account')!.dirty || editForm.get('account')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('account')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.empn" for="field_empn">Empn</label>
          <input type="text" class="form-control" name="empn" id="field_empn" data-cy="empn" formControlName="empn" />
          <div *ngIf="editForm.get('empn')!.invalid && (editForm.get('empn')!.dirty || editForm.get('empn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('empn')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.oldday" for="field_oldday">Oldday</label>
          <input type="number" class="form-control" name="oldday" id="field_oldday" data-cy="oldday" formControlName="oldday" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.newday" for="field_newday">Newday</label>
          <input type="number" class="form-control" name="newday" id="field_newday" data-cy="newday" formControlName="newday" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.hoteltime" for="field_hoteltime">Hoteltime</label>
          <div class="d-flex">
            <input
              id="field_hoteltime"
              data-cy="hoteltime"
              type="datetime-local"
              class="form-control"
              name="hoteltime"
              formControlName="hoteltime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.roomn" for="field_roomn">Roomn</label>
          <input type="text" class="form-control" name="roomn" id="field_roomn" data-cy="roomn" formControlName="roomn" />
          <div *ngIf="editForm.get('roomn')!.invalid && (editForm.get('roomn')!.dirty || editForm.get('roomn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('roomn')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.memo" for="field_memo">Memo</label>
          <input type="text" class="form-control" name="memo" id="field_memo" data-cy="memo" formControlName="memo" />
          <div *ngIf="editForm.get('memo')!.invalid && (editForm.get('memo')!.dirty || editForm.get('memo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('memo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('memo')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.realname" for="field_realname">Realname</label>
          <input type="text" class="form-control" name="realname" id="field_realname" data-cy="realname" formControlName="realname" />
          <div *ngIf="editForm.get('realname')!.invalid && (editForm.get('realname')!.dirty || editForm.get('realname')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('realname')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ihotelApp.crinfo.isup" for="field_isup">Isup</label>
          <input type="number" class="form-control" name="isup" id="field_isup" data-cy="isup" formControlName="isup" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
