<div>
  <h2 id="page-heading" data-cy="CyCptypeHeading">
    <span jhiTranslate="ihotelApp.cyCptype.home.title">Cy Cptypes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.cyCptype.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cy-cptype"
        [routerLink]="['/cy-cptype/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.cyCptype.home.createLabel"> Create a new Cy Cptype </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.cyCptype.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="cyCptypes?.length === 0">
    <span jhiTranslate="ihotelApp.cyCptype.home.notFound">No cyCptypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cyCptypes && cyCptypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cptdm"><span jhiTranslate="ihotelApp.cyCptype.cptdm">Cptdm</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cptname">
            <span jhiTranslate="ihotelApp.cyCptype.cptname">Cptname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="printsign">
            <span jhiTranslate="ihotelApp.cyCptype.printsign">Printsign</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="printer">
            <span jhiTranslate="ihotelApp.cyCptype.printer">Printer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="printnum">
            <span jhiTranslate="ihotelApp.cyCptype.printnum">Printnum</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="printcut">
            <span jhiTranslate="ihotelApp.cyCptype.printcut">Printcut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="syssign">
            <span jhiTranslate="ihotelApp.cyCptype.syssign">Syssign</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typesign">
            <span jhiTranslate="ihotelApp.cyCptype.typesign">Typesign</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="qy"><span jhiTranslate="ihotelApp.cyCptype.qy">Qy</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cyCptype of cyCptypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cy-cptype', cyCptype.id, 'view']">{{ cyCptype.id }}</a>
          </td>
          <td>{{ cyCptype.cptdm }}</td>
          <td>{{ cyCptype.cptname }}</td>
          <td>{{ cyCptype.printsign }}</td>
          <td>{{ cyCptype.printer }}</td>
          <td>{{ cyCptype.printnum }}</td>
          <td>{{ cyCptype.printcut }}</td>
          <td>{{ cyCptype.syssign }}</td>
          <td>{{ cyCptype.typesign }}</td>
          <td>{{ cyCptype.qy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cy-cptype', cyCptype.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cy-cptype', cyCptype.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cyCptype)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cyCptypes && cyCptypes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
