<div>
  <h2 id="page-heading" data-cy="FwDsHeading">
    <span jhiTranslate="ihotelApp.fwDs.home.title">Fw Ds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.fwDs.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fw-ds"
        [routerLink]="['/fw-ds/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.fwDs.home.createLabel"> Create a new Fw Ds </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.fwDs.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="fwDs?.length === 0">
    <span jhiTranslate="ihotelApp.fwDs.home.notFound">No fwDs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fwDs && fwDs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="ihotelApp.fwDs.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="hoteltime">
            <span jhiTranslate="ihotelApp.fwDs.hoteltime">Hoteltime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rq"><span jhiTranslate="ihotelApp.fwDs.rq">Rq</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="xz"><span jhiTranslate="ihotelApp.fwDs.xz">Xz</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="memo"><span jhiTranslate="ihotelApp.fwDs.memo">Memo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fwy"><span jhiTranslate="ihotelApp.fwDs.fwy">Fwy</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roomn"><span jhiTranslate="ihotelApp.fwDs.roomn">Roomn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rtype"><span jhiTranslate="ihotelApp.fwDs.rtype">Rtype</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="empn"><span jhiTranslate="ihotelApp.fwDs.empn">Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sl"><span jhiTranslate="ihotelApp.fwDs.sl">Sl</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fwDs of fwDs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fw-ds', fwDs.id, 'view']">{{ fwDs.id }}</a>
          </td>
          <td>{{ fwDs.hoteltime | formatMediumDatetime }}</td>
          <td>{{ fwDs.rq | formatMediumDatetime }}</td>
          <td>{{ fwDs.xz }}</td>
          <td>{{ fwDs.memo }}</td>
          <td>{{ fwDs.fwy }}</td>
          <td>{{ fwDs.roomn }}</td>
          <td>{{ fwDs.rtype }}</td>
          <td>{{ fwDs.empn }}</td>
          <td>{{ fwDs.sl }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/fw-ds', fwDs.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/fw-ds', fwDs.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fwDs)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fwDs && fwDs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
