<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="clog">
      <h2 data-cy="clogDetailsHeading"><span jhiTranslate="ihotelApp.clog.detail.title">Clog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ihotelApp.clog.id">Id</span></dt>
        <dd>
          <span>{{ clog.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.clog.empn">Empn</span></dt>
        <dd>
          <span>{{ clog.empn }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.clog.begindate">Begindate</span></dt>
        <dd>
          <span>{{ clog.begindate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.clog.enddate">Enddate</span></dt>
        <dd>
          <span>{{ clog.enddate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.clog.dqrq">Dqrq</span></dt>
        <dd>
          <span>{{ clog.dqrq | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/clog', clog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
