<div>
  <h2 id="page-heading" data-cy="CzCzl3Heading">
    <span jhiTranslate="ihotelApp.czCzl3.home.title">Cz Czl 3 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.czCzl3.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cz-czl-3"
        [routerLink]="['/cz-czl-3/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.czCzl3.home.createLabel"> Create a new Cz Czl 3 </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.czCzl3.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="czCzl3s?.length === 0">
    <span jhiTranslate="ihotelApp.czCzl3.home.notFound">No czCzl3s found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="czCzl3s && czCzl3s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="zfs"><span jhiTranslate="ihotelApp.czCzl3.zfs">Zfs</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="kfs"><span jhiTranslate="ihotelApp.czCzl3.kfs">Kfs</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="protocoln">
            <span jhiTranslate="ihotelApp.czCzl3.protocoln">Protocoln</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="roomtype">
            <span jhiTranslate="ihotelApp.czCzl3.roomtype">Roomtype</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sl"><span jhiTranslate="ihotelApp.czCzl3.sl">Sl</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let czCzl3 of czCzl3s; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cz-czl-3', czCzl3.id, 'view']">{{ czCzl3.id }}</a>
          </td>
          <td>{{ czCzl3.zfs }}</td>
          <td>{{ czCzl3.kfs }}</td>
          <td>{{ czCzl3.protocoln }}</td>
          <td>{{ czCzl3.roomtype }}</td>
          <td>{{ czCzl3.sl }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cz-czl-3', czCzl3.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cz-czl-3', czCzl3.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(czCzl3)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="czCzl3s && czCzl3s.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
