<div>
  <h2 id="page-heading" data-cy="BookingtimeHeading">
    <span jhiTranslate="ihotelApp.bookingtime.home.title">Bookingtimes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.bookingtime.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bookingtime"
        [routerLink]="['/bookingtime/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.bookingtime.home.createLabel"> Create a new Bookingtime </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.bookingtime.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="bookingtimes?.length === 0">
    <span jhiTranslate="ihotelApp.bookingtime.home.notFound">No bookingtimes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookingtimes && bookingtimes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="ihotelApp.bookingtime.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bookid">
            <span jhiTranslate="ihotelApp.bookingtime.bookid">Bookid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="roomn">
            <span jhiTranslate="ihotelApp.bookingtime.roomn">Roomn</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="booktime">
            <span jhiTranslate="ihotelApp.bookingtime.booktime">Booktime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rtype">
            <span jhiTranslate="ihotelApp.bookingtime.rtype">Rtype</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sl"><span jhiTranslate="ihotelApp.bookingtime.sl">Sl</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remark">
            <span jhiTranslate="ihotelApp.bookingtime.remark">Remark</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sign"><span jhiTranslate="ihotelApp.bookingtime.sign">Sign</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rzsign">
            <span jhiTranslate="ihotelApp.bookingtime.rzsign">Rzsign</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookingtime of bookingtimes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bookingtime', bookingtime.id, 'view']">{{ bookingtime.id }}</a>
          </td>
          <td>{{ bookingtime.bookid }}</td>
          <td>{{ bookingtime.roomn }}</td>
          <td>{{ bookingtime.booktime | formatMediumDatetime }}</td>
          <td>{{ bookingtime.rtype }}</td>
          <td>{{ bookingtime.sl }}</td>
          <td>{{ bookingtime.remark }}</td>
          <td>{{ bookingtime.sign }}</td>
          <td>{{ bookingtime.rzsign }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bookingtime', bookingtime.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bookingtime', bookingtime.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bookingtime)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookingtimes && bookingtimes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
