<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dDepot">
      <h2 data-cy="dDepotDetailsHeading"><span jhiTranslate="ihotelApp.dDepot.detail.title">D Depot</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dDepot.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.dDepot.depotid">Depotid</span></dt>
        <dd>
          <span>{{ dDepot.depotid }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.dDepot.depot">Depot</span></dt>
        <dd>
          <span>{{ dDepot.depot }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/d-depot', dDepot.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
