<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cyRoomtype">
      <h2 data-cy="cyRoomtypeDetailsHeading"><span jhiTranslate="ihotelApp.cyRoomtype.detail.title">Cy Roomtype</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cyRoomtype.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.cyRoomtype.rtdm">Rtdm</span></dt>
        <dd>
          <span>{{ cyRoomtype.rtdm }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.cyRoomtype.minc">Minc</span></dt>
        <dd>
          <span>{{ cyRoomtype.minc }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.cyRoomtype.servicerate">Servicerate</span></dt>
        <dd>
          <span>{{ cyRoomtype.servicerate }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.cyRoomtype.printer">Printer</span></dt>
        <dd>
          <span>{{ cyRoomtype.printer }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.cyRoomtype.printnum">Printnum</span></dt>
        <dd>
          <span>{{ cyRoomtype.printnum }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cy-roomtype', cyRoomtype.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
