<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="acc">
      <h2 data-cy="accDetailsHeading"><span jhiTranslate="ihotelApp.acc.detail.title">Acc</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ihotelApp.acc.id">Id</span></dt>
        <dd>
          <span>{{ acc.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihotelApp.acc.acc">Acc</span></dt>
        <dd>
          <span>{{ acc.acc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/acc', acc.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
