<div>
  <h2 id="page-heading" data-cy="FwYlwpHeading">
    <span jhiTranslate="ihotelApp.fwYlwp.home.title">Fw Ylwps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.fwYlwp.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fw-ylwp"
        [routerLink]="['/fw-ylwp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.fwYlwp.home.createLabel"> Create a new Fw Ylwp </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.fwYlwp.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="fwYlwps?.length === 0">
    <span jhiTranslate="ihotelApp.fwYlwp.home.notFound">No fwYlwps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fwYlwps && fwYlwps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="ihotelApp.fwYlwp.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roomn"><span jhiTranslate="ihotelApp.fwYlwp.roomn">Roomn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="guestname">
            <span jhiTranslate="ihotelApp.fwYlwp.guestname">Guestname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="memo"><span jhiTranslate="ihotelApp.fwYlwp.memo">Memo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sdr"><span jhiTranslate="ihotelApp.fwYlwp.sdr">Sdr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sdrq"><span jhiTranslate="ihotelApp.fwYlwp.sdrq">Sdrq</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rlr"><span jhiTranslate="ihotelApp.fwYlwp.rlr">Rlr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rlrq"><span jhiTranslate="ihotelApp.fwYlwp.rlrq">Rlrq</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remark"><span jhiTranslate="ihotelApp.fwYlwp.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="empn"><span jhiTranslate="ihotelApp.fwYlwp.empn">Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="czrq"><span jhiTranslate="ihotelApp.fwYlwp.czrq">Czrq</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="flag"><span jhiTranslate="ihotelApp.fwYlwp.flag">Flag</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fwYlwp of fwYlwps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fw-ylwp', fwYlwp.id, 'view']">{{ fwYlwp.id }}</a>
          </td>
          <td>{{ fwYlwp.roomn }}</td>
          <td>{{ fwYlwp.guestname }}</td>
          <td>{{ fwYlwp.memo }}</td>
          <td>{{ fwYlwp.sdr }}</td>
          <td>{{ fwYlwp.sdrq | formatMediumDatetime }}</td>
          <td>{{ fwYlwp.rlr }}</td>
          <td>{{ fwYlwp.rlrq | formatMediumDatetime }}</td>
          <td>{{ fwYlwp.remark }}</td>
          <td>{{ fwYlwp.empn }}</td>
          <td>{{ fwYlwp.czrq | formatMediumDatetime }}</td>
          <td>{{ fwYlwp.flag }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fw-ylwp', fwYlwp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fw-ylwp', fwYlwp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fwYlwp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fwYlwps && fwYlwps.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
