<div>
  <h2 id="page-heading" data-cy="CheckCzlHeading">
    <span jhiTranslate="ihotelApp.checkCzl.home.title">Check Czls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihotelApp.checkCzl.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-czl"
        [routerLink]="['/check-czl/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ihotelApp.checkCzl.home.createLabel"> Create a new Check Czl </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'ihotelApp.checkCzl.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="checkCzls?.length === 0">
    <span jhiTranslate="ihotelApp.checkCzl.home.notFound">No checkCzls found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="checkCzls && checkCzls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="hoteltime">
            <span jhiTranslate="ihotelApp.checkCzl.hoteltime">Hoteltime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rtype"><span jhiTranslate="ihotelApp.checkCzl.rtype">Rtype</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rnum"><span jhiTranslate="ihotelApp.checkCzl.rnum">Rnum</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rOutnum">
            <span jhiTranslate="ihotelApp.checkCzl.rOutnum">R Outnum</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="czl"><span jhiTranslate="ihotelApp.checkCzl.czl">Czl</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="chagrge">
            <span jhiTranslate="ihotelApp.checkCzl.chagrge">Chagrge</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="chagrgeAvg">
            <span jhiTranslate="ihotelApp.checkCzl.chagrgeAvg">Chagrge Avg</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empn"><span jhiTranslate="ihotelApp.checkCzl.empn">Empn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="entertime">
            <span jhiTranslate="ihotelApp.checkCzl.entertime">Entertime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checkCzl of checkCzls; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/check-czl', checkCzl.id, 'view']">{{ checkCzl.id }}</a>
          </td>
          <td>{{ checkCzl.hoteltime | formatMediumDatetime }}</td>
          <td>{{ checkCzl.rtype }}</td>
          <td>{{ checkCzl.rnum }}</td>
          <td>{{ checkCzl.rOutnum }}</td>
          <td>{{ checkCzl.czl }}</td>
          <td>{{ checkCzl.chagrge }}</td>
          <td>{{ checkCzl.chagrgeAvg }}</td>
          <td>{{ checkCzl.empn }}</td>
          <td>{{ checkCzl.entertime | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/check-czl', checkCzl.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/check-czl', checkCzl.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(checkCzl)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="checkCzls && checkCzls.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
